*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
}

.main{
    width: 880px;
    margin: 0 auto;
}

p{
    color: #00ae1f;
    font-size: 22px;
}

header{
    position: relative;
    top:50px;
    left:75px;
    height:200px;
}

button{
    width: 325px;
    height: 50px;
    margin-top: 50px;
    margin-left: 275px;
}

footer{
    margin-top: 200px;
    margin-left: 700px;
}